<div class="news-teaser">
    <h3>{{ title | trans }}</h3>
    {% for new in news %}
    <div class="news">
        {% if new.team %}<img src="{{ new.team.icon }}" class="flag" />{% endif %}
        <strong>{{ new.title }}</strong>
        <p class="meta">{{ "by" | trans }}
            <a href="{{ url('player_show', {'player_id': new.author.id}) }}">{{ new.author.username }}</a>
            - {{ new.date.format('d/m/Y - H:i') }}
            - <strong>{{ new.comments | length }}</strong> {{ "comments" | trans }}
        </p>
    </div>
    {% endfor %}
</div>