<div class="news">
    <h2>
        {{ news.title }}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="admin_actions">
            <a class="edit" href="{{ url('contribute_news_edit', {'news_id': news.id}) }}">({{ "edit" | trans }})</a>
            </div>
        {% endif %}
    </h2>
    <p class="meta">{{ "by" | trans }}
        <a href="{{ url('player_show', {'player_id': news.author.id}) }}">{{ news.author.username }}</a>
        - {{ news.date.format('d/m/Y - H:i') }}
        - <strong>{{ news.comments | length }}</strong> {{ "comments" | trans }}
    </p>
    {{ news.body | innerBlocks }}
</div>