<div class="block-login">
    <div class="log">
        <img class="avatar" src="{{ user.avatar }}" />
        <div class="userdata">
            {{ "Logged as" | trans }}<br />
            <span class="username">{{ user.username }}</span>
        </div>
        <div class="spacer"></div>
        <form action="{{ path("_security_logout") }}" method="post" id="logout">
            <p class="para_standard" id="para_submit" >
                <label>{{ "Log out" | trans }}</label>
                <input type="submit" value="{{ "Log out" | trans }}" class="submit"  />
            </p>
        </form>
    </div>
</div>

<div class="user-menu">
    <h2>{{ "User menu" | trans }}</h2>
    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ url('contribute_news_new') }}">
                {{ "Add a news" | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('contribute_replay_new') }}">
                {{ "Add a replay" | trans }}
            </a>
        </li>
    </ul>
    {% else %}

    {% endif %}
    <br /><br />
    <h2>To do list</h2>
    <p>This is a <a name="beta">beta version</a> of the website</p>
    <p>Please report bugs by mailing <strong>lysimaque (at) hotmail (dot) com</strong></p>
    <br /><br />
    <p>for version <strong>1.0</strong> :</p>
    <ul>
        <li>vertical align the "vs" word on replay_show page</li>
        <li>news archives</li>
        <li>footer</li>
        <li>user list & team links</li>

        <li>form validation and redirections</li>
        <li>back office</li>
    </ul>
    <p>Then website will be online !</p>
    <br /><br />
    <p>for version <strong>1.1</strong> :</p>
    <ul>
        <li>fr_FR, en_US translations</li>
        <li>internationalized dates</li>
        <li>add the "next wars" block on the front page ?</li>
    </ul>
    <br /><br />
    <p>for version <strong>2.0</strong> :</p>
    <ul>
        <li>replays notes and comments</li>
        <li>filters by team on list pages</li>
        <li>filters on the member page (by stats, name, ...)</li>
        <li>filters replays by version, matchup, type, uploader</li>
        <li>stream pages</li>
        <li>forum</li>
        <li>scan replays for players joints when a player subscribe website</li>
    </ul>
</div>