<div class="block-login">
    <div class="log">
        <img class="avatar" src="{{ user.avatar | default('/upload/avatar/default.gif') }}" />
        <div class="userdata">
            {{ "Logged as" | trans }}<br />
            <span class="username">{{ user.username }}</span>
        </div>
        <div class="spacer"></div>
        <form action="{{ path("_security_logout") }}" method="post" id="logout">
            <p class="para_standard" id="para_submit" >
                <label>{{ "Log out" | trans }}</label>
                <input type="submit" value="{{ "Log out" | trans }}" class="submit"  />
            </p>
        </form>
    </div>
</div>

<div class="user-menu">
    <h2>{{ "User menu" | trans }}</h2>
    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ url('contribute_news_new') }}">
                {{ "Add a news" | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('contribute_replay_new') }}">
                {{ "Add a replay" | trans }}
            </a>
        </li>
        <li>
            <a href="{{ url('contribute_war_new') }}">
                {{ "Add a clan war" | trans }}
            </a>
        </li>
    </ul>
    {% else %}

    {% endif %}
    <!--
    <br /><br />
    <h2>To do list</h2>
    <br /><br />
    <p>for version <strong>1.0</strong> :</p>
    <ul>
        <li>back office on news</li>
    </ul>
    <p>Then website will be online !</p>
    <p>for version <strong>1.1</strong> :</p>
    <ul>
        <li>account edition</li>
        <li>fr_FR, en_US translations</li>
        <li>internationalized dates</li>
        <li>add the "next wars" bloc on the front page ?</li>
        <li>adding sortable javascript to sort player list pages</li>
    </ul>
    <br /><br />
    <p>for version <strong>2.0</strong> :</p>
    <ul>
        <li>replays notes and comments</li>
        <li>filters by team on list pages</li>
        <li>filters on the member page (by stats, name, ...)</li>
        <li>filters replays by version, matchup, type, uploader</li>
        <li>stream pages</li>
        <li>forum</li>
        <li>scan replays for players joints  when a player subscribe website</li>
        <li>disable war addition for "ended" seasons</li>
    </ul>
    -->
</div>