<div class="block-login">
    <div class="log">
        <img class="avatar" src="{{ user.avatar | default('/upload/avatar/default.gif') }}" />
        <div class="userdata">
            {{ "Logged as" | trans }}<br />
            <span class="username">{{ user.username }}</span>
        </div>
        <div class="spacer"></div>
        <form action="{{ path("_security_logout") }}" method="post" id="logout">
            <p class="para_standard" id="para_submit" >
                <label>{{ "Log out" | trans }}</label>
                <input type="submit" value="{{ "Log out" | trans }}" class="submit"  />
            </p>
        </form>
    </div>
</div>