{% extends 'IHQSNuitBlancheBundle::layout_standard.html.twig' %}

{% block title %}{{ team.name }} {{ "player list" | trans }}{% endblock %}

{% block content %}
    <ul class="filters">
        {% for team in teams %}
        <li class="{% if loop.index == 1 %}first{% endif %}">
            <span>
                <a href="{{ url('team_show', { "team_id": team.id }) }}">{{ team.name }}</a>
            </span>
        </li>
        {% endfor %}
        <li class="last">
            <a href="{{ url('player_list') }}">{{ "Website's user list" | trans }}</a>
        </li>
    </ul>

    <div class="sub-section wars">
        <h2>{{ "Player list" | trans }}</h2>
        <table class="team-player-list sortable">
            <caption>{{ team.name }} {{ "player list" | trans }}</caption>

            <thead>
                <tr>
                    <th></th>
                    <th>{{ "name" | trans }}</th>
                    <th>{{ "class" | trans }}</th>
                    <th>{{ "character" | trans }}</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th>{{ players | length }} {{ "players" | trans }}</th>
                    <th></th>
                </tr>
            </tfoot>

            <tbody>
                {% for user in players %}
                <tr class="last">
                    <td><img src="{{ asset('bundles/ihqsnuitblanche/images/flags/' ~ user.countryCode | lower  ~ '.gif') }}" alt="{{ user.countryCode }}" class="flag" /></td>
                    <td><a href="{{ url('player_show', { "user_id": user.id }) }}">{{ user.username }}</a></td>
                    <td><img src="{{ asset('bundles/ihqsnuitblanche/images/ico/' ~ user.wow.class | lower  ~ '.png') }}" alt="{{  user.wow.class | lower }}" class="flag" /></td>
                    <td>
                        <img src="{{ asset('bundles/ihqsnuitblanche/images/ico/' ~ user.wow.race | lower  ~ '_' ~ user.wow.sex ~ '.gif') }}" alt="{{  user.wow.race | lower }}" class="flag" />
                        {{ user.wow.name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}