{% extends 'IHQSNuitBlancheBundle::layout_standard.html.twig' %}

{% block content %}
        <h2>{{ title | trans }}</h2>
        {{ message | trans }}
        <form id="admin-form" method="post" action="" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <div>
                {% spaceless %}
                <label for="submit"></label>
                <input name="submit" class="submit" type="submit" value="{{ "Submit" | trans }}" />
                {% endspaceless %}
            </div>
        </form>
{% endblock %}
