{% extends 'IHQSNuitBlancheBundle::layout_base.html.twig' %}

{% block left %}
    {% render "IHQSNuitBlancheBundle:Team:_sections" %}
    {% render "IHQSNuitBlancheBundle:War:_calendar" %}
    {% render "IHQSNuitBlancheBundle:Player:_connected" %}
{% endblock %}

{% block right %}
    {% if not is_granted('ROLE_USER') %}
        <div class="register">
            <a href="{{ url('_secured_register') }}">{{ "Register" | trans }}</a>
        </div>
    {% else %}
        <div class="register">
            <a href="{{ url('_secured_profile_edition') }}">{{ "Edit my profile" | trans }}</a>
        </div>
        <div class="register">
            <a href="{{ url('_secured_profile_password') }}">{{ "Change password" | trans }}</a>
        </div>
    {% endif %}
    {% render "IHQSNuitBlancheBundle:War:_latest" %}
    {% render "IHQSNuitBlancheBundle:News:_latest" %}
    {% render "IHQSNuitBlancheBundle:Replay:_latest" %}
{% endblock %}