{% extends 'IHQSNuitBlancheBundle::layout_base.html.twig' %}

{% block left %}
    {% render "IHQSNuitBlancheBundle:Team:_sections" %}
    {% render "IHQSNuitBlancheBundle:War:_calendar" %}
    {% render "IHQSNuitBlancheBundle:Player:_connected" %}
    {% render "IHQSNuitBlancheBundle:Ts3:_channels" %}
{% endblock %}

{% block right %}
    {% if not is_granted('ROLE_USER') %}
        <div class="register">
            <ul>
                <li>
                    <a href="{{ url('_secured_register') }}">{{ "Register" | trans }}</a>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="widget user-menu">
            <ul>
                <li>
                    <a href="{{ url('_secured_profile_edition') }}">
                        {{ "Edit my profile" | trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ url('_secured_profile_password') }}">
                        {{ "Change password" | trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ url('contribute_replay_new') }}">
                        {{ "Add a replay" | trans }}
                    </a>
                </li>
            </ul>
            <hr />
            {% if is_granted('ROLE_ADMIN') %}
            <ul>
                <li>
                    <a href="{{ url('contribute_news_new') }}">
                        {{ "Add a news" | trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ url('contribute_war_new') }}">
                        {{ "Add a clan war" | trans }}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    {% endif %}
    {% render "IHQSNuitBlancheBundle:War:_latest" %}
    {% render "IHQSNuitBlancheBundle:News:_latest" %}
    {% render "IHQSNuitBlancheBundle:Replay:_latest" %}
{% endblock %}