<ol class="forum_posts_list comments">
    {% for post in posts %}
    <li>
        <a class="avatar" href="{{ url('player_show', {'player_id': post.author.id}) }}">
            <img src="{{ post.author.avatarUrl | default('/bundles/ihqsnuitblanche/images/avatar/default.gif') }}" />
        </a>
        <p class="meta">
            #{{ loop.index }}
            - <a href="{{ url('player_show', {'player_id': post.author.id}) }}">{{ post.author.username }}</a>
            - {{ post.createdAt.format('d/m/Y - H:i') }}
        </p>
        <p>
            {{ post.message }}
        </p>
    </li>
    {% endfor %}
</ol>
